#openai
python-dotenv
#wikipedia
#tiktoken
neo4j
streamlit
streamlit-authenticator
sentence_transformers
#Pillow
#fastapi
#PyPDF2
#torch==2.2.0
#pydantic
uvicorn
# sse-starlette
# boto3
# missing from the langchain base image?
langchain-ollama
langchain-openai
langchain-community
langchain-aws
langchain-google-genai
langchain-huggingface
stqdm